:root{
    --primary-clr-1: hsl(158, 36%, 37%);
    --primary-clr-2: hsl(30, 38%, 92%);

    --neutral-clr-1: hsl(212, 21%, 14%);
    --neutral-clr-2: hsl(228, 12%, 48%);
    --neural-clr-3: hsl(0, 0%, 100%);
}
*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-clr-2);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.img-2{
    display: none;
}
.img-1{
     
    width: 340px;
    border-radius: 8px 0 0 8px;
}

.cont-2{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    background: white;
    border-radius: 0px 8px 8px 0px;
}
.cont-2 h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    color: var(--neutral-clr-2);
}
.cont-2 h1{
    font-family: 'Fraunces', serif;
    max-width: 10ch;
    line-height: 2.5rem;
    font-size: 40px;
}
.cont-2 p{
    max-width: 25ch;
    font-size: 18px;
    line-height: 1.5rem;
    color: var(--neutral-clr-2);
    font-family: 'Lato', sans-serif;
    
}
.text-spec,
.price-flex p{
    font-family:'Montserrat', sans-serif ;
}
.price-flex{
    display: flex;
    gap: 2rem;
}
.price-flex h1{
    font-size: 35px;
    font-family: 'Fraunces', serif;
    color: var(--primary-clr-1);
}
.price-flex p{
    text-decoration: line-through;
    color: var(--neutral-clr-2);
    font-size: 14px;
}
button{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-clr-1);
    border: none;
    border-radius: 6px;
   padding: 12px 65px;
   font-family:'Montserrat', sans-serif ;
   color: white;
   transition: all 0.3s ease-in-out;
}
button:hover{
    background-color: hsl(158, 66%, 11%);
}
@media(max-width:586px){
    main{
        flex-direction: column;
    }
    .img-1{
        display: none;
    }
    .img-2{
        display: block;
        border-radius: 8px 8px 0 0;
        width: 345px;
    }
    .cont-2{
        border-radius: 0 0 8px 8px;
        padding: 2rem 1rem 2rem 2rem;
        width: 300px;
    }
    .cont-2 h1{
        max-width: 20ch;
        font-size: 33px;
        
    }
    .cont-2 p{
        max-width: 30ch;
    }
    button{
        padding: 12px 87px;
        
    }

}
